.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://use.typekit.net/ibk8xny.css");

body {

  background-color: #0B0B24;
  
  height:100%;
  /* overflow: hidden;  */
  margin: 0px;

  font-family: houschka-rounded,sans-serif;
  font-weight: 700;
  font-style: italic;
  color: white;
} 

body.gameScreen {

  width: 100vw;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

body.gameScreen > #gameRoomStats {

  width: 1024px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  color: white;


}

body.gameScreen > #gameRoomStats > div:nth-child(2) {

  display: flex;



}

body.gameScreen > #gameRoomStats > div:nth-child(2) > div {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;


}

body.gameScreen > #gameRoomStats > div:nth-child(2) > div > img {

  width: 20px;
  height: 23px;


}

body.gameScreen > #tagID {

  border-radius: 40px;

}



html{
  height:100%;
}

footer{
  text-align: center;
}

footer > a{
  display: inline-block;
  color: grey;
  font-weight: 500;
  font-style: normal;
}

footer > a:hover{
  color: #FD6D00;
  text-decoration: none;
}

#main{

  display:flex;
  justify-content: flex-start; 

}

#main-catalog{

  display:flex;
  justify-content: center; 
  flex-direction: column;

}

#section-left {

  width: 70vw;
  height: 100vh;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#hero-carousel {

  width: 30vw;
  height: 150vh; 
  overflow: hidden;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: #26263C;
}

.navigation {

  display:flex;
  justify-content: flex-end; 
  width: 100%;
  position: absolute;
  top: 0px;
  padding: 10px 20px 0px 0px;

  color: grey;
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  align-items: center;




}



.navigation > img {

  height: 30px;
}

.navLink{

  color: grey;
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 20px;
  text-decoration: underline
  
}


.navLink:hover{
  color: #FD6D00;
  text-decoration: none;

}

#hero-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#logo-container{

  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20%;

}

#logo-container > img{
  width: 300px;
  
}

#hero-text-block{
  width: 70%;
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

#play-button{

  display: inline-block;
  width: 160px;
  padding-left: 40px;
  border: 4px solid #FD6D00;
  border-radius: 110px;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 4px

}

#round-button{

  display: inline-block;
  width: 160px;
  padding-left: 40px;
  /* border: 4px solid #FD6D00; */
  background-color: grey;
  border-radius: 110px;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 2px;
  padding-bottom: 2px;


}

#round-button:hover{

  background-color: white;
  color: grey;
  text-decoration: none;

}

#round-button > a{
  display: inline-block;
  color: white;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

#round-button > a:hover{
  color: grey;
  text-decoration: none;
}


.highlighted {

  font-weight: 700;
  font-style: italic;
  color: #FD6D00;


}

#hero-text-block >img{
  width: 400px;
  position: relative;
  top: -200px;
  left: 180px;
  z-index: -1;
}

#play-button > i {
  font-size: 30px;
}


#loginRegisterButton{

  color: grey;
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 20px;
  font-size: 20px;
  text-decoration: underline

}



#loginRegisterButton:hover{
  color: #FD6D00;
  text-decoration: none;

}

.gameThumbnail {

  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  

}

.leftTilt{
  transform: rotate(-10deg);

}

.rightTilt{
  transform: rotate(10deg);

}

.catalog{
  margin-right: 40px;
}

.gameRoom{
  position: relative;
  margin-left: 50px;
  top: 100px;
  

}

.gameRoomDescription{
  margin-left: 50px;
  width: 30%;
  position: relative;
  top: 100px;
}

.gameRoomDescription > h1{
  margin: 0;

  color:white;
  font-family: houschka-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;



}

.gameRoomDescription > p {

  color: #FD6D00;
  font-family: houschka-rounded, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
  margin: 0px;

}

.gameDescription{
  margin-left: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.gameDescription > div > h1{
  margin: 30px;
  color:white;
  font-family: houschka-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;



}

.gameDescription > div > p {

  color:white;
  font-family: houschka-rounded, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 34px;
  margin: 0px;
  
}

.gameDescription > .smaller {


  font-size: 18px;
  margin: 0px;
  font-style: italic;
  color: #FD6D00;
  
}


.gameButton {

  display: inline-block;
  width: 160px;
  font-size: 25px;
  padding: 4px;
  padding-left: 20px;
  background-color: black;
  border-radius: 110px;
  border:none;
  text-decoration: none;
  cursor:pointer;

  /* padding-bottom: 4px; */
  color: white;

  font-weight: 700;
  font-style: normal;
  text-align:center;

  box-shadow: 0px 0px 9px #00000081;

}

.gameButton:hover {

  background-color: #379913;


}

#roulett{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;

  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
}




#modalBackground{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: -webkit-sticky; /* Safari */
  /*position: sticky; */
  position: absolute;
  z-index: 2;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 20px;


}

#modalRegister{

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 60%;
  background-color: white;
  border-radius: 10px;

  
  

}

#modalRegister > h1{

  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  width: 50%;
  text-align: center;
  margin: 5px;

}

#modalRegister > div{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

}

#modalRegister > div > div{
  display: block;
  width: 70%;
  padding: 10px;
  background-color: #F6D90F;
  margin: 15;
  margin-top: 5px;
  border: 8px solid black;
  border-radius: 5px;
  font-size: 20px;


}

#modalRegister > div > div:first-child{
 background-color: #8FD3EE;

}

#gamePreviewModal{

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 50%;
  background-color: white;
  border-radius: 10px;


}

#gamePreviewModal > div{

  /* background-size: cover; */


}


#gameRoomSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;


}

#gameInfo{
  width: 100vw;
  height: 50vh;

  display: flex;
  justify-content: flex-start;

  

}

#waitingRoomView{

  width: 100vw;
  height: 50vh;
  background-color: #26263C;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 125px 125px 0px 0px;
  display: flex;
  justify-content: space-around;

}

#waitingRoomView > div {

  width: 50%;

  padding-left: 50px;

  
}

#waitingRoomView > div > h2 {

  color:white;
  font-weight: 300;
  font-style: normal;
  font-size: 80px;
  margin: 0px;
  margin-top: 50px;

  
}



#playersActiveSection > p {

  font-weight: 300;
  font-style: italic;
  font-size: 25px;
  color: #FD6D00;

}

#playersActiveSection > p  > span{

  color: white;
  font-weight: 500;
  font-size: 17px;

}

#playersActive{

  display: flex;
  justify-content: space-around;
}

#playersActive > div > p {

  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color:white;
  margin-bottom: 0px;
  text-align: center;
}

.dottedCircle{

  width: 100px;
  height: 100px;
  background-color: #0b0b2459;
  border: 7px dashed #0B0B24;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;



}

.dottedCircle > img {

  width: 90px;

}

#startGameButton{

  display: inline-block;
  width: 300px;
  padding-left: 40px;
  border: 3px solid #FD6D00;
  border-radius: 110px;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 2px;
  font-size: 40px;
  color: white;
  text-decoration: none;


}

#startGameButton-small{

  display: inline-block;
  width: 150px;
  padding-left: 40px;
  border: 2px solid #FD6D00;
  border-radius: 100px;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 2px;
  font-size: 25;
  color: white;
  text-decoration: none;


}

#startGameButton-mid {

  display: inline-block;
  /* width: 170px; */
  /* padding-left: 40px; */
  padding: 5px;
  background-color:#FD6D00;
  border-radius: 100px;
  font-weight: 700;
  font-style: italic;

  font-size: 35;
  color: white;
  text-decoration: none;


}


#waitingRoomView > div:nth-child(2) {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  
}


#waitingRoomView > div:nth-child(2) > p {

  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: white;
  
}





#settingsPage{

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

#hostProfile {

  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  


}

#manageRoomsSection{

  width: 100vw;
  background-color: #26263C;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}



.roomManageDiv  {

  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  margin-bottom: 30px;
  margin-top:30px;
  color: white;

}

.roomInfo {

  width: 100%;
  display: flex;
  justify-content: space-evenly;

  font-weight: 500;
  font-style: normal;


}

.roomInfo > h2 {

  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  margin: 0px;


}   

.roomPlayers {

  width: 100%;
  height: 500px;
  background-color: #0b0b2459;
  border: 7px dashed #0B0B24;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;


}

.roomPlayers > div {

  margin-right: 20px;
  

}


#playerRegister{

  margin: 40px;
  color: white;
  font-weight: 500;
  font-style: normal;

}

#avatarSelectDiv{

  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;


}

#avatarSelectDiv > img {
  margin-right: 30%;
  height: 40%;
}
